- content_for :top do
  %h1= @neighborhood.name
  %h4= link_to "Other Hoods", hoods_path

.hood
  %canvas#hood
.tweets
  = image_tag 'bouncer.gif', class: 'bouncer'
  %ul
    = render partial: 'boroughs/tweet', collection: @tweets

:javascript
  var json_path = "#{@neighborhood.slug}";
  NTC.hoodsToLoad = [json_path];

  NTC.Loader.loadHoods(NTC.hoodsToLoad).done(function(hoods) {
    NTC.Renderer.drawHoods(hoods, 'hood', 1/10);
    NTC.Listener.listenToTweets('ul.tweets', hoods);
  });
