%h1 Hashtags #term: count for #{@date.to_date}

%table.table.table-bordered
  %tr
    %th Period
    - Borough.names.each do |borough|
      %th= borough
  %tr
    %td Hour: #{analytics_hour(@hours)}
    - Borough.names.each do |borough|
      %td= analytics(@hours[borough])
  %tr
    %td Day
    - Borough.names.each do |borough|
      %td= analytics(@days[borough], 4)
  %tr
    %td Week
    - Borough.names.each do |borough|
      %td= analytics(@weeks[borough], 8)


%div= link_to("Day before", hashtags_path(date: @date - 1.day))
%div= link_to("Day after", hashtags_path(date: @date + 1.day))
