- content_for :top do
  %li.active= link_to "#{@area.humanize} Snapshots", snapshots_path(@area)

.absolute
  %ol{"data-no-turbolink" => ""}
    - @snapshots.each do |snapshot|
      %li= link_to "#{l snapshot.begins_at, format: :human} - #{l snapshot.ends_at, format: :human}", snapshot_path(@area, snapshot)

.span12= image_tag last_snapshot_image(@area)
