- content_for :top do
  %li.active= link_to @area.upcase
  - if @area == "manhattan"
    %li= link_to "List of Manhattan Snapshots", snapshots_path(:manhattan)
    %li= link_to "Switch to all NYC", last_snapshots_path(:nyc)
  - else
    %li= link_to "List of NYC Snapshots", snapshots_path(:nyc)
    %li= link_to "Switch to Manhattan", last_snapshots_path(:manhattan)


.absolute
  .floating-header{"data-no-turbolink" => ""}
    .begins From: #{l @snapshot.begins_at, format: :human}
    .ends Until : #{l @snapshot.ends_at, format: :human}
    .count= "Tweets: #{number_with_delimiter @snapshot.tweet_count}"
    .navigation
      - if @previous
        = link_to snapshot_path(@area, @previous) do
          %i{class: "icon-chevron-left"}
      - else
        %i{class: "icon-chevron-left"}

      - if @next
        = link_to snapshot_path(@area, @next) do
          %i{class: "icon-chevron-right"}
      - else
        %i{class: "icon-chevron-right"}


= image_tag @snapshot.url
