%li{class: ["tweet", "tweet_#{tweet.id}"]}
  %i{class: %w(icon-twitter)}
  .neighborhood.label= tweet.neighborhood.name
  .date.label.label-success #{l(tweet.created_at, format: :long)}
  .body
    %blockquote.text= Rinku.auto_link(tweet.text, :all, 'target="_blank"').html_safe
    - if tweet.media_url
      .media= image_tag tweet.media_url
